.gradient-custom {
  background: linear-gradient(to right, rgba(94, 80, 109, 1), rgba(255, 255, 255, 1));
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-group{
  margin-bottom: 20px;
}

.formResults {
  font-weight:bold;
}
